# Trabalhando Banco de Dados (Parte II)

* Importando o pacote *os* para manipulação de objetos do sistema operacional.

In [32]:
import os

* Verificando se o banco de casos a ser criado já existe. 
* E se existir, remova-o

In [33]:
os.remove("dsa.db") if os.path.exists("dsa.db") else None

* Importando o pacote do sqlite3

In [34]:
import sqlite3

### Criando um Banco de Dados (conexão)

* Abrindo uma conexão com o arquivo

In [35]:
conn = sqlite3.connect('dsa.db')

conexão criada, agora vamos criar um cursor.

#### Criando um cursor

* Abrindo o cursor

In [36]:
c = conn.cursor()

#### Criando Funções Úteis

* Função para criar uma tabela.

In [37]:
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos'\
              '(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,'\
                'date TEXT,'\
                'prod_name TEXT,'\
                'valor REAL)')

* Função para inserir uma linha em tabelas.

In [41]:
def data_insert():
    c.execute("INSERT INTO produtos VALUES(10,'2018-05-02 14:32:11','Teclado',90)")
    conn.commit()
    c.close()
    conn.close()

## Criar tabela

In [42]:
create_table()

### Inserir dados

In [43]:
data_insert()