# Trabalhando Banco de Dados (Parte I)

#### Banco de dados SQLite

* Documentação SQLite: http://www.sqlite.org/docs.html

#### Remove banco de dados 

* Como temos apenas a pretensão de introduzir alguns conceitos sobe banco de dados, se desejarmos, podemos remover o arquivo com o banco de dados SQLite, caso ele exista.

In [21]:
import os

In [24]:
os.remove("escola.db") if os.path.exists("escola.db") else None

* Ao instalar o Anaconda em nossa máquina o SQLite também é instalado e, desta forma, apenas iremos importá-lo atráves do pacote sqlite3.

In [25]:
import sqlite3

#### Criando um Banco de Dados

* Cria uma conexão com o banco de dados. 
* Se o banco de dados não existir, ele é criado neste momento.

In [26]:
con = sqlite3.connect('escola.db')

* A instrução acima cria um banco de dados, pois o banco de dados __escola.db__ não existia no momento da conexão. 
* A criação do banco de dados **escola.db** é retornada como objeto  **sqlite3.Connection** na variável **con**

In [27]:
type(con)

sqlite3.Connection

* Criando um cursor 
* Como a conexão do banco de dados já foi aberta, agora precisamos criar um cursor que permite percorrer todos os registros em um conjunto de dados.

In [28]:
cur = con.cursor()

observe que chamado a função __cursor()__ do objeto __con__ e retornamos no objeto __cur__

In [29]:
type(cur)

sqlite3.Cursor

## Criando Tabela em Nosso DB.

* A tabela é criada utilizando a linguagem SQL
* Comando DDL
    * create table + nome da tabela (cursos)
    * Definindo as colunas da tabela.
        * id é uma primary key do tipo integer
        * título é do tipo string com até 100 caracteres.
        * categoria é do tipo string com até 140 caracteres

In [30]:
sql_create = 'create table cursos '\
             '(id integer primary key, '\
             'titulo varchar(100), '\
             'categoria varchar(140))'

todas as instruções para criação da tabela __cursos__ foram salvas como string na variável __sql_create__, veja.

In [31]:
type(sql_create)

str

In [32]:
sql_create

'create table cursos (id integer primary key, titulo varchar(100), categoria varchar(140))'

#### Executando a instrução sql no cursor

* para criar a tabela em nosso banco de dados __escoa.db__ utilizamos a função *execute* no objeto **cur**, nosso cursor.

In [33]:
cur.execute(sql_create)

#### Inserindo dados na tabela.

* Criando outra sentença SQL para inserir registros
* A instrução DML, manipulação de linguagem, __insert into__ é utilizado para inserir valore em uma tabela.
* Estrutura da instrução.
    * insert into + nome da tabela + valores.

In [35]:
sql_insert = 'insert into cursos values (?, ?, ?)'

* Mas afinal, quais dados serão inseridos.

In [37]:
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [38]:
recset

[(1000, 'Ciência de Dados', 'Data Science'),
 (1001, 'Big Data Fundamentos', 'Big Data'),
 (1002, 'Python Fundamentos', 'Análise de Dados')]

o objeto _recset_ é uma lista que contém em cada posição um objeto _tupla_ que obdecem a estrutura de nossa tabela.

In [39]:
type(recset)

list

In [41]:
type(recset[0])

tuple

* Inserindo os registros
* Na instrução _loop for_ a variável rec percorre a variável _recset_
* Novamente utilizo o objeto _cur_, cursor, e nele aplicamos a função _execute_ que executa em nosso banco de dados _escola.db_ a instrução _sql_insert__, (insert into) na tabela _cursos_ os elementos da lista _recset_.

In [42]:
for rec in recset:
    cur.execute(sql_insert, rec)

#### Commit() 

* Grava a transação

In [43]:
con.commit()

* Criando outra sentença SQL para selecionar registros

In [45]:
sql_select = 'select * from cursos'

* Seleciona todos os registros e recupera os registros

In [46]:
cur.execute(sql_select)
dados = cur.fetchall()

* Mostra

In [47]:
for linha in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

* Gerando outros registros

In [48]:
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

* Inserindo mais registros na tabela.

In [49]:
for rec in recset:
    cur.execute(sql_insert, rec)

* Gravando a transação

In [50]:
con.commit()

* Seleciona todos os registros

In [51]:
cur.execute('select * from cursos')

* Recupera os resultados

In [52]:
recset = cur.fetchall()

* Mostra

In [53]:
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

* Fecha a conexão

In [54]:
con.close()