# Inserindo Dados com Variáveis

#### Importando os pacotes necessários.

In [8]:
import sqlite3
import random
import time
import datetime

#### Abrindo uma conexão com o banco de dados

In [9]:
conn = sqlite3.connect('dsa.db')

#### Criando um cursor

In [11]:
c = conn.cursor()

* Função para criar uma tabela

In [12]:
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

* Função para inserir uma linha

In [13]:
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2018-05-02 12:34:45', 'Teclado', 130.00 )")
    conn.commit()
    c.close()
    conn.close()

* Usando variáveis para inserir dados

In [14]:
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    conn.commit()

* Gerando valores e inserindo na tabela

In [15]:
for i in range(10):
    data_insert_var()
    time.sleep(1)

* Encerrando a conexão

In [16]:
c.close()
conn.close()