# Arquivos (Parte 1)

* Caso você tenha problemas com acentos nos arquivos:
* Primeiro, recomendamos a leitura do material sobre Formato Unicode, ao final do capítulo 4.
* Uma forma de resolver esse problema, é abrir o arquivo em um editor de texto como o Sublime Text, clicar em File - Save with Encoding e então salvar com encoding UTF-8.
* Outra opção é incluir o parâmetro encoding='utf8' ao abrir o arquivo para leitura ou escrita.

Obs: Crie um arquivo txt, chamado arquivo1.txt no diretório "arquivos" na pasta onde está seu Jupyter Notebook, digite a frase: Python é uma linguagem poderosa! e salve o arquivo.

In [68]:
# lendo o arquivo
import os

In [69]:
arr = os.listdir('arquivos')
print(arr)

['arquivo1.txt', 'binary.csv', 'cientista.txt', 'dados.json', 'file.csv', 'json_data.txt', 'numeros.csv', 'reduce.png', 'salarios.csv', 'testandoerros.txt', 'teste.txt']

### Lendo Arquivos

In [70]:
# Abrindo o arquivo para leitura
arq1 = open("arquivos/arquivo1.txt","r")

In [71]:
# Lendo o arquivo
print(arq1.read())

Escrita do arquivo modificada Acrescentando conteúdo

In [72]:
# Contar o número de caracteres
print(arq1.tell())

52

In [73]:
# Retornar para o iníco do arquivo
print(arq1.seek(0,0))

0

In [74]:
# Ler os primeiros 10 caracteres
print(arq1.read(10))

Escrita do

### Gravando Arquivos

In [75]:
# Abrindo arquivo para gravação
arq2 = open("arquivos/arquivo1.txt", "w")

In [76]:
# Como abrimos o arquivo apenas para gravação, não podemos usar comandos de leitura.
print(arq2.read())

UnsupportedOperation: not readable

In [77]:
# Gravando arquivo
arq2.write("Escrita do arquivo modificada")

29

In [78]:
arq2.close()

In [79]:
# Lendo arquivo gravado
arq2 = open("arquivos/arquivo1.txt", "r")

In [80]:
print(arq2.read())

Escrita do arquivo modificada

In [81]:
# Acrescentando conteúdo
arq2 = open("arquivos/arquivo1.txt", "a")

In [82]:
arq2.write(" Acrescentando conteúdo")

23

In [83]:
arq2.close()

In [84]:
arq2 = open("arquivos/arquivo1.txt", "r")

In [85]:
print(arq2.read())

Escrita do arquivo modificada Acrescentando conteúdo

In [86]:
# Retornando ao início do arquivo para leitura
arq2.seek(0,0)

0

In [87]:
print(arq2.read())

Escrita do arquivo modificada Acrescentando conteúdo

### Automatizando o processo de gravação

In [88]:
fileName = input("Digite o nome do arquivo: ")

Digite o nome do arquivo:  arquivo1

In [89]:
fileName = fileName + ".txt"

In [90]:
arq3 = open(fileName, "w")

In [91]:
arq3.write("Incluindo novo texto no arquivo criado")

38

In [92]:
arq3.close()

In [93]:
arq3 = open(fileName, "r")

In [94]:
print(arq3.read())

Incluindo novo texto no arquivo criado

In [95]:
arq3.close()

### Abrindo um dataset em uma única linha

Faça download do arquivo salarios.csv em nosso repositório no github. Este arquivo foi obtido no site de dados abertos do governo da cidade de Chicago, nos EUA: https://data.cityofchicago.org/

In [96]:
# open file
f = open('arquivos/salarios.csv', 'r')

In [97]:
data = f.read()

In [98]:
rows = data.split('\n')

In [99]:
#print(rows)

### Dividindo um dataset em colunas

In [100]:
f = open('arquivos/salarios.csv', 'r')

In [101]:
data = f.read()

In [102]:
rows = data.split('\n')

In [103]:
full_data = []

In [104]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [105]:
# print(full_data)

### Contando as linhas de um arquivo

In [106]:
f = open('arquivos/salarios.csv', 'r')

In [107]:
data = f.read()

In [108]:
rows = data.split('\n')

In [109]:
full_data = []

In [110]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [111]:
count = 0
for row in full_data:
    count += 1   # Equivalente a: count = count + 1

In [112]:
print(count)

32184

### Contando o número de colunas de um arquivo

In [113]:
f = open('arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [114]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
    first_row = full_data[0]
count = 0

In [115]:
for column in first_row:
    count = count + 1
    
# Outra solução possível
# for column in full_data[0]:
#     count = count + 1

In [116]:
print(count)

4

### Gravando arquivo pelo Jupyter Notebook

In [117]:
%%writefile arquivos/teste.txt   
Olá este arquivo foi gerado pelo próprio Jupyter Notebook.
Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.

Overwriting arquivos/teste.txt

In [118]:
arq4 = open("arquivos/teste.txt", 'r',encoding='utf8')

In [119]:
arq4.read()

'Olá este arquivo foi gerado pelo próprio Jupyter Notebook.\nPodemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.\n'

In [120]:
# Estamos no final do arquivo e não há mais nada para ler
arq4.read()

''

In [121]:
# Retornando ao início do arquivo
arq4.seek(0)

0

In [122]:
arq4.seek(0)
arq4.readlines()

['Olá este arquivo foi gerado pelo próprio Jupyter Notebook.\n',
 'Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.\n']

In [123]:
# Podemos usar um loop for para ler o arquivo
for line in open('arquivos/teste.txt',encoding='utf8'):
    print(line)

Olá este arquivo foi gerado pelo próprio Jupyter Notebook.

Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.

## Importando um dataset com Pandas

In [124]:
import pandas as pd

In [125]:
file_name = "arquivos/binary.csv"

In [126]:
df = pd.read_csv(file_name)

In [127]:
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [128]:
file2 = "arquivos/salarios.csv"

In [129]:
df2 = pd.read_csv(file2)

In [130]:
df2.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00