# Objetos - Em Python, tudo é objeto!

## Criando uma lista

In [1]:
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

* A lista lst_num é um objeto, uma instância da classe lista em Python

In [5]:
type(lst_num)

list

In [6]:
lst_num.count(10)

2

### Usamos a função type

In [7]:
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

### Criando a Classe Carro

* Podemos criar uma classe em definir os métodos.

In [11]:
class Carro(object):
    pass

* Instância do Carro

In [12]:
palio = Carro()

In [13]:
print(type(palio))

<class '__main__.Carro'>

### Criando a Classe Estudantes

In [17]:
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

* Criando um objeto chamado Estudante1 a partir da classe Estudantes

In [18]:
Estudante1 = Estudantes("Pele", 12, 9.5)

* Atributo nome da classe Estudante, utilizado pelo objeto Estudante1 criado a partir desta classe Estudantes.

In [19]:
Estudante1.nome

'Pele'

* Atributo idade da classe Estudante, utilizado pelo objeto Estudante1 criado a partir desta classe Estudantes.

In [9]:
Estudante1.idade

12

* Atributo nome da classe Estudante, utilizado pelo objeto Estudante1 criado a partir desta classe Estudantes.

In [10]:
Estudante1.nota

9.5

### Criando a Classe Funcionarios

In [34]:
class Funcionarios:
    
    def __init__(self, nome, salario):
        self.nome = nome
        self.salario = salario

    def listFunc(self):
        print("O nome do funcionário é " + self.nome + " e o salário é R$ " + str(self.salario))

* Criando um objeto chamado Func1 a partir da classe Funcionarios

In [40]:
Func1 = Funcionarios("Obama", 20000)

* Usando o método da classe

In [41]:
Func1.listFunc()

O nome do funcionário é Obama e o salário é R$ 20000

### Usando atributos

* hasattr = has (verbo have) + attr (atributos)
* Tenho o atributo nome no objeto Func1?

In [42]:
hasattr(Func1, "nome")

True

* Tenho o atributo salário no objeto Func1?

In [43]:
hasattr(Func1, "salario")

True

* setattr = set (setar, configurar) + attr 
* Configure o atributo salario no objeto Func1.

In [44]:
setattr(Func1, "salario", 4500)

* Tenho o atributo salário no objeto Func1?

In [45]:
hasattr(Func1, "salario")

True

* Retorne o valor do atributo salario.

In [46]:
getattr(Func1, "salario")

4500

In [47]:
delattr(Func1, "salario")

In [48]:
hasattr(Func1, "salario")

False