# Listas

In [101]:
# Declarando um lista
listadomercado = []

In [102]:
type(listadomercado)

list

In [103]:
# Criando uma lista
listadomercado = ["ovos, farinha, leite, maças"]

In [104]:
# Imprimindo a lista
print(listadomercado)

['ovos, farinha, leite, maças']

In [105]:
# Criando outra lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [106]:
# Imprimindo a lista
print(listadomercado2)

['ovos', 'farinha', 'leite', 'maças']

In [107]:
# Criando lista
lista3 = [12, 100, "Universidade"]

In [108]:
# Imprimindo
print(lista3)

[12, 100, 'Universidade']

In [109]:
lista3 = [12, 100, "Universidade"]

In [110]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [111]:
# Imprimindo as variáveis
print(item1, item2, item3)

12 100 Universidade

## Atualizando um item da lista

In [112]:
# Imprimindo um item da lista
listadomercado2[2]

'leite'

In [113]:
# Atualizando um item da lista
listadomercado2[2] = "chocolate"

In [114]:
# Imprimindo lista alterada
listadomercado2

['ovos', 'farinha', 'chocolate', 'maças']

## Deletando um item da lista

In [115]:
# Out of index. Não é possível deletar um item que não existe na lista
del listadomercado2[4]

IndexError: list assignment index out of range

In [116]:
# Deletando um item específico da lista
del listadomercado2[3]

In [117]:
# Imprimindo o item com a lista alterada
listadomercado2

['ovos', 'farinha', 'chocolate']

## Listas de listas (Listas aninhadas)
Listas de listas são matrizes em Python

In [118]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [119]:
# Imprimindo a lista
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [120]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [121]:
a

[1, 2, 3]

In [122]:
b = a[0]

In [123]:
b

1

In [124]:
list1 = listas[1]

In [125]:
list1

[10, 15, 14]

In [126]:
valor_1_0 = list1[0]

In [127]:
valor_1_0

10

In [128]:
valor_1_2 = list1[2]

In [129]:
valor_1_2

14

In [130]:
list2 = listas[2]

In [131]:
list2

[10.1, 8.7, 2.3]

In [132]:
valor_2_0 = list2[0]

In [133]:
valor_2_0

10.1

### Operações com listas

In [134]:
# Criando uma lista aninhada (lista de listas)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [135]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [136]:
# Atribuindo à variável a, o primeiro valor da primeira lista
a = listas[0][0]

In [137]:
a

1

In [138]:
b = listas[1][2]

In [139]:
b

14

In [140]:
c = listas[0][2] + 10

In [141]:
c

13

In [142]:
d = 10

In [143]:
d

10

In [144]:
e = d * listas[2][0]

In [145]:
e

101.0

### Concatenando listas

In [146]:
lista_s1 = [34, 32, 56]

In [147]:
lista_s1

[34, 32, 56]

In [148]:
lista_s2 = [21, 90, 51]

In [149]:
lista_s2

[21, 90, 51]

In [150]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [151]:
lista_total

[34, 32, 56, 21, 90, 51]

## Operador in

In [152]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [153]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [154]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

## Funções Built-in

In [155]:
# Função len() retorna o comprimento da lista
len(lista_teste_op)

4

In [156]:
# Função max() retorna o valor máximo da lista
max(lista_teste_op)

100

In [157]:
# Função min() retorna o valor mínimo da lista
min(lista_teste_op)

-5

In [158]:
# Criando uma lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [159]:
# imprimindo a listadomercado2
print(listadomercado2)

['ovos', 'farinha', 'leite', 'maças']

In [160]:
# Adicionando um item à lista
listadomercado2.append("carne")

In [161]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [162]:
listadomercado2.append("carne")

In [163]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne', 'carne']

In [164]:
# Retorna a frequência de determinado elemento da lista 
listadomercado2.count("carne")

2

In [165]:
# Criando uma lista vazia
a = []

In [166]:
print(a)

[]

In [167]:
type(a)

list

In [168]:
a.append(10)

In [169]:
a

[10]

In [170]:
a.append(50)

In [171]:
a

[10, 50]

In [172]:
old_list = [1,2,5,10]

In [173]:
new_list = []

In [174]:
# não há elementos em new_lista
new_list

[]

In [175]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [176]:
new_list

[1, 2, 5, 10]

In [177]:
c = [20,30]

In [178]:
c.append(60)

In [179]:
c.append(70)

In [180]:
c

[20, 30, 60, 70]

In [181]:
c.count(20)

1

# Lista nome de cidades

In [182]:
# lista de cidades
cidades = ['Recife', 'Manaus', 'Salvador']

In [183]:
# add elementos a lista 
cidades.extend(['Fortaleza', 'Palmas'])

In [184]:
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [185]:
# add mais elementos a lista
cidades.append('Maceió')

In [186]:
# imprime lista com novo elemento
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas', 'Maceió']

In [187]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [188]:
# Procurando um elemento que não está na lista: ERRO!
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [189]:
# Como em python o index começa em 0, temos que a posição de Manaus será 1. 
cidades.index('Manaus')

1

In [190]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas', 'Maceió']

In [191]:
# Inserindo números na lista de cidades
cidades.insert(2, 110)

In [192]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas', 'Maceió']

In [193]:
# Remove um item da lista
cidades.remove(110)

In [194]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas', 'Maceió']

In [195]:
# Reverte a lista
cidades.reverse()

In [196]:
# Imprime a lista
cidades

['Maceió', 'Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [197]:
x = [3, 4, 2, 1]

In [198]:
x

[3, 4, 2, 1]

In [199]:
# Ordena a lista
x.sort()

In [200]:
x

[1, 2, 3, 4]